@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
}



/* cores */
.rosa {color: #ec398b;}
.laranja {color: #efa506;}
.azul {color: #00acee;}
.verde {color: #8dc63f;}
.amarelo {color: #fff200;;}

/* cabeçalho */
header {
	color: #fff;
	padding: 100px;
	text-align: center;
	background-color: #554bb9;

	/* font */
	font-family: "Oswald", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}

/* conteúdo */
main {
	display: flex;
	padding: 50px;
	align-items: center;
	align-content: center;
	flex-direction: column;
	background-color: #f9f9f9;
	justify-content: space-evenly; /* centralizou e espaçou */
}

main section {
	text-align: justify;
	line-height: 1.5;
}

main section p { margin: 20px; 0}