@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* corpo */
body {
	margin: 0;
	padding: 0;
	background-color: #fbfaff;
	font-family: "Funnel Display", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

b { color: #3A0CA3;}
	
/* cabeçalho */
header {
	color: #fff;
	padding: 30px;
	line-height: 0.5;
	text-align: center;
	background-color: #3d348b;
}

header h1 {
	font-size: 3rem;
	font-family: "Oswald", sans-serif;
}

header h2 {
	font-weight: 300;
	font-size: 1rem;
}

/* main */
main {
	margin: 20px;
	padding: 20px;
	line-height: 1.8;
	text-align: justify;
}

pre {
	font-size: 15px;
	padding: 5px 30px;
    border-radius: 20px;
	display: inline-block;
    background: #efd9ce;
}

/* seções */
section {
	padding: 30px;
	margin: 10px 0;
}

.elements-section {
	border-radius: 20px;
	background-color: #F1F1F1;
}

/* rodape */
footer {
	color: #fff;
	padding: 20px 0;
	text-align: center;
	background-color: #3d348b;
}

/* grid */
.container {
	display: flex;
	flex-direction: column;
}

.row {
	gap: 10px;
	display: flex;
	margin: 10px 0;
	flex-direction: row;
	justify-content: space-evenly;
}

.card {
	width: 300px;
	padding: 10px;
	cursor: pointer;
	font-weight: 500;
	color: #7678ED;
	text-align: center;
	border-radius: 16px;
	box-sizing: border-box;
	background-color: #F7B801;
	font-family: "Roboto Condensed", sans-serif;
}

a {	text-decoration: none; }
a:hover { color: black;}